%h1 Wallberry Administration

%form{:method => 'post', :action =>'/exterior'}
  %fieldset
    %legend Exterior Weather
    %label
      City ID (get
      %a{:href => 'http://http://openweathermap.org/find', :target => '_blank'}
        here
      )
      %input{:type => 'text', :name => 'city', :value => settings.exterior[:city]}
    %label
      Units
      %input{:type => 'radio', :name => 'units', :value => 'imperial',
             :checked => true}
        Fahrenheit
      %input{:type => 'radio', :name => 'units', :value => 'metric'}
        Celcius
    %input{:type => 'submit', :value => "Update Exterior Settings"}


%form{:method => 'post', :action =>'/interior'}
  %fieldset
    %legend Interior Temperature
    %label
      Sensor Device ID (get from /sys/bus/w1/devices/)
      %input{:type => 'text', :name => 'id', :value => settings.interior[:id]}
    %input{:type => 'submit', :value => "Update Interior Settings"}


%form{:method => 'post', :action => '/backgrounds/filter'}
  %fieldset
    %legend Only Use Backgrounds From This Subdirectory
    - current = (settings.backgrounds[:filter] == nil) ? '' : settings.backgrounds[:filter]
    - @directories.each do |dir|
      - checked = (current == dir)
      - name = (dir == '') ? 'No Filter' : dir
      %label
        %input{:type => 'radio', :name => 'filter', :value => dir,
               :checked => checked}
        #{name}
    %input{:type => 'submit', :value => "Update Background Filter"}

%form{:method => 'put', :class => 'js-form_adddir'}
  %fieldset
    %legend Create A New Background Subdirectory
    %label
      %input{:type => 'text', :name => 'dir', :placeholder => 'foobar',
             "data-form_adddir-target" => true}
    %input{:type => 'submit', :value => "Create Directory"}

%form{:method => 'delete', :class => 'js-form_deldir'}
  %fieldset
    %legend Delete A New Background Subdirectory And Contents
    %label
      %input{:type => 'text', :name => 'dir', :placeholder => 'foobar',
             "data-form_deldir-target" => true}
    %input{:type => 'submit', :value => "Delete Directory"}


%form{:method => 'post', :action => '/admin'}
  %fieldset
    %legend Admin Access
    %label
      Change Username
      %input{:type => 'text', :name => 'username',
             :value => settings.admin[:username]}
    %label
      Change Password
      %input{:type => 'password', :name => 'password',
             :value => settings.admin[:password]}
    %input{:type => 'submit', :value => "Change Admin Credentials"}

%script{:src => "js/admin.js"}
