%video.bg-video.hide{:autoplay => true, :loop => true}
  %source
%img.bg-image.hide

.info_bar-wrapper
  .info_bar
    %p{:class => "info_bar-clock"} Clock PH

    .info_bar-weather
      %p{:class => "info_bar-w_exterior"} Ext Placeholder
      %p{:class => "info_bar-w_interior"} Int Placeholder
