%h1 Log into Wallberry Admin

%form{:method => 'post', :action =>'/login'}
  %label
    Username
    %input{:type => 'text', :name => 'username'}
  %label
    Password
    %input{:type => 'password', :name => 'password'}
  %input{:type => 'submit'}
