.background-wrapper {
  z-index: -100;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
%bg-element {
  width: auto;
  height: 100vh;
  margin: 0 auto;
}

.bg-video {
  @extend %bg-element;
}

.bg-image {
  @extend %bg-element;
}


.info_bar-wrapper {
  z-index: 1;
  width: 100%;
  height: 100vh;
  padding-top: 100vh - $info_bar-height;
  -webkit-text-stroke: $font_stroke_primary rgba(32, 32, 32, 1);
}

.info_bar {
  display: flex;
  flex-direction: column;
  height: $info_bar-height;
  @include media-desktop {
    flex-direction: row;
    align-items: center;
  }
}

.info_bar-item-small {
  @extend %vertically_aligned-self;
  font-size: $info_bar-font-small * .75;
  @include media-desktop {
    font-size: $info_bar-font-small;
  }
}

.info_bar-item-large {
  @extend %vertically_aligned-self;
  font-size: $info_bar-font-large * .75;
  @include media-desktop {
    font-size: $info_bar-font-large;
  }
}

.info_bar-clock {
  @extend .info_bar-item-large;
  flex: 1; 
}

.info_bar-weather-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

%info_bar-weather-type {
  @extend .info_bar-item-small;
  flex: 1;
  text-align: right;
}

.info_bar-w_interior {
  @extend %info_bar-weather-type;
}

.info_bar-w_exterior {
  @extend %info_bar-weather-type;
}
