* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: $background_default;
  font-family: "Source Code Pro", monospace;
  color: $font_color_primary;
  font-size: 2vw;
  line-height: 1em;
  @include media-desktop {
    font-size: 1vw;
  }
}

main {
  padding: 0 1%;
}
