form {
  padding: $spacer 1%;
  border: 1px solid $font_color_primary;
  margin-bottom: $spacer;
}

input {
  margin: 0;
}

label {
  margin-bottom: $spacer / 4;
}

legend {
  @extend %heading-four;
}

fieldset {
  display: flex;
  flex-direction: column;
  legend, label, input {
    flex: 1;
  }
}
